<div class="widget-viewer" [style.minHeight]="minHeight + 'px'">
  <ngx-widget-grid
    #widgetViewerGrid
    class="widget-viewer__grid"
    [rows]="rows"
    [columns]="cols"
    [showGrid]="showGrid">

    <ngx-widget
      *ngFor="let widget of widgets;let $index = index;"
      [position]="widget.config"
      [movable]="editable"
      [resizable]="editable"
      [swapOnMove]="swapWidgets">
      
      <span
        class="widget-viewer__button-trash"
        *ngIf="editable"
        (click)="askDeleteWidget($index)">x
      </span>

      <div data-id={{widget.id}} #widgetsViewerList></div>
    </ngx-widget>
  </ngx-widget-grid>
</div>