<div class="widget-viewer" style="height:100%;width:100%" [style.minHeight]="minHeight + 'px'">
  <ngx-widget-grid
    #widgetViewerGrid
    class="widget-viewer__grid"
    [rows]="rows"
    [columns]="cols"
    [showGrid]="showGrid"
    style="height:100%;width:100%">

    <ngx-widget
      *ngFor="let widget of widgets;let $index = index;"
      [position]="widget.config"
      [movable]="editable"
      [resizable]="editable"
      [swapOnMove]="swapWidgets">
      
      <div style="height:100%;width:100%; display:flex;">
        <div
          class="my-widgets"
          style="height:100%;width:100%; padding:10px;">

          <span
            class="widget-viewer__button-trash"
            *ngIf="editable"
            (click)="askDeleteWidget($index)">[x]
          </span>

          <div data-id={{widget.id}} #widgetsViewerList></div>
        </div>
      </div>
    </ngx-widget>
  </ngx-widget-grid>
</div>