<div class="widgets-container" [style.height]="'100%'">
  <!-- Empty widget -->
  <div *ngIf="widget?.type === 'empty'">
    Widget container
  </div>
  
  <!-- Widget of field type -->
  <div *ngIf="widget?.type === 'field'">
    <ng-container
      *ngTemplateOutlet="fieldTemplate">
    </ng-container>
  </div>

  <!-- Widget of grid type -->
  <div *ngIf="widget?.type === 'group'">
    <ng-container
      *ngTemplateOutlet="groupTemplate">
    </ng-container>
  </div>
</div>

<ng-template #fieldTemplate>
  <div
    [innerHtml]="prepareFieldValue()"
    class="widget-player-container__field">
    Widget player container field type
  </div>
</ng-template>
  
<ng-template #groupTemplate>
  <app-widgets
    [widgets]="widget?.widgets"
    [movable]="false"
    [showGrid]="false"
    [editable]="false"
    [showPanel]="false"
    [resizable]="false"
    [showPanel]="false"
  ></app-widgets>
</ng-template>