<div class="get-document-field">
  <h1 class="mat-headline">Get document field</h1>

  <form [formGroup]="stateForm">
    <mat-form-field class="get-document-field__form-field">
      <input
        type="text"
        matInput
        placeholder="Start type document name to search it"
        formControlName="stateGroup"
        required [matAutocomplete]="autoGroup">

      <mat-autocomplete
        [displayWith]="displayFn"
        #autoGroup="matAutocomplete"
        (optionSelected)='optionSelected($event.option.value)'
        autoActiveFirstOption>

        <mat-optgroup
          *ngFor="let group of stateGroupOptions | async"
          [label]="group.letter">

          <mat-option
            *ngFor="let name of group.names"
            [value]="name.document">{{name.name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div *ngIf="selectedDocument" class="get-document-field__selected-document">
    <h3 class="mat-subheading-2">Select document field to insert:</h3>

    <mat-radio-group
      class="document-fields__radio-group"
      [(ngModel)]="selectedField">

      <mat-radio-button
        class="document-fields__radio-button"
        *ngFor="let field of selectedDocument.fields"
        [value]="field">

        <span class="mat-body-strong">{{field.name}}</span>: 
        {{field.value | slice:0:31}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>