<div class="admin-panel">
	<div class="row center">
		<div class="col-xs-12">
			<mat-card>
				<mat-card-header>
					<div mat-card-avatar>
						<mat-icon>build</mat-icon>
					</div>
	
					<mat-card-title>Admin panel</mat-card-title>
				</mat-card-header>
	
				<mat-card-content>
					<mat-list>
						<h3 mat-subheader>Sections</h3>
						<mat-list-item *ngFor="let folder of folders">
							<mat-icon mat-list-icon>folder</mat-icon>
							<button mat-button [routerLink]="folder.route">
								{{folder.name}}
							</button>
						</mat-list-item>
					</mat-list>
				</mat-card-content>
			</mat-card>
		</div>
	</div>

	<div class="row admin-panel__configuration">
		<div class="col-xs-12">
			<mat-card>
				<mat-card-header>
					<div mat-card-avatar>
						<mat-icon>settings</mat-icon>
					</div>

					<mat-card-title>Configuration</mat-card-title>

					<mat-card-subtitle>Quick system configs</mat-card-subtitle>
				</mat-card-header>

				<mat-card-content>
					<mat-form-field class="widget-player__form-field">
						<input matInput
							type="text"
							placeholder="Logo text"
							[(ngModel)]="systemConfiguration.logoText">
					</mat-form-field>
				</mat-card-content>

				<mat-card-actions>
					<button mat-stroked-button
						color="primary"
						(click)="onClickSave()">Save
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
