<div
  class="widget-container"
  style="width: 100%; height: 100%"
  [ngStyle]="{backgroundColor: editable ? 'rgba(0,0,0,.02)' : ''}">

  <div *ngIf="content?.field" style="width: 100%; height: 100%">
    <ng-container *ngTemplateOutlet="fieldTemplate"></ng-container>
  </div>

  <div *ngIf="content?.group && !collection" style="width: 100%; height: 100%">
    <ng-container *ngTemplateOutlet="groupTemplate"></ng-container>
  </div>

  <div *ngIf="content?.group && collection" style="width: 100%; height: 100%">
    <ng-container *ngTemplateOutlet="collectionGroupTemplate"></ng-container>
  </div>
</div>

<ng-template #fieldTemplate>
  <div
    [ngClass]="{'widget-container__field': true, 'widget-container__link': content.link}"
    (click)="content.link ? routeToLink() : ''"
    [innerHtml]="prepareFieldValue()">
  </div>
</ng-template>

<ng-template #groupTemplate>
  <app-grid
    [cols]="content.grid.cols"
    [rows]="content.grid.rows"
    [data]="data"
    [widgets]="content.group"
    [movable]="false"
    [editable]="false"
    [showGrid]="false"
    [showPanel]="false"
    [resizable]="false"
    [gridWidth]="'100%'"
    [gridHeight]="'100%'">
  </app-grid>
</ng-template>

<ng-template #collectionGroupTemplate>
  <div class="pagination">
    <a
      class="pagipage"
      [class.active]="link.active"
      [routerLink]="[link.link]" routerLinkActive="active" 
      *ngFor="let link of paginationLinks">{{link.label}}
    </a>
  </div>

  <app-grid
    [cols]="content.grid.cols"
    [rows]="content.grid.rows"
    [data]="data"
    [widgets]="content.group"
    [movable]="false"
    [editable]="false"
    [showGrid]="false"
    [showPanel]="false"
    [resizable]="false"
    [gridWidth]="'100%'"
    [gridHeight]="'100%'"
    [currentPageDocuments]="currentPageDocuments">
  </app-grid>
</ng-template>