<div class="collection">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="mat-title collection__title">
          {{ collection?._id ? collection.name : 'Create' }} collection
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Collection settings</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="form">
            <mat-form-field class="collection__form-field">
              <input
                matInput
                type="text"
                placeholder="Name"
                formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Model" formControlName="modelId">
                  <mat-option *ngFor="let model of models" [value]="model.id">
                    {{model.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </form>	
        </mat-card-content>
    
        <mat-card-actions class="collection__actions">
          <button mat-stroked-button
            (click)="collection?._id ? save() : submit()">
            {{ collection?._id ? 'Save' : 'Submit' }}
          </button>

          <app-remove-button
            *ngIf="collection?._id"
            [items]="[{label: collection.name, id: collection._id, apiModel: 'collections'}]"
            [afterRedirectTo]="'/admin/collections'">
            
          </app-remove-button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="row documents">
    <div class="col-xs-12">
      <h2 class="mat-title documents__title">
        Documents
      </h2>
      
      <div class="documents__actions">
        <button
          (click)="openAddDocumentDialog()"
          mat-raised-button color="accent">Add document
        </button>
      </div>
    </div>
  </div>

  <div class="row documents-list">
    <div class="col-xs-12">
      <div class="mat-card" *ngIf="collection?.documents?.length === 0">
        <h3 class="mat-subheading-2">There is no documents yet</h3>
      </div>
      <app-datatable
        [data]="documents"
        (rowClicked)="onClickDocumentRow($event)">
      </app-datatable>
    </div>
  </div>
</div>