<mat-drawer-container class="client">
  <mat-toolbar
    color="primary"
    class="mat-elevation-z6"
    *ngIf="systemConfiguration.showToolbar">

    <mat-toolbar-row>
      <button
        mat-button
        routerLink="/">{{ systemConfiguration.logoText }}
      </button>

      <span class="spacer"></span>

      <button
        class="client__button-sign"
        *ngIf="!user"
        mat-button
        routerLink="/p/login">Signin
      </button>

      <button
        class="client__button-cabinet"
        mat-button
        *ngIf="user"
        routerLink="/">{{user.email}}
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </div> -->
  <app-loader></app-loader> 
  <router-outlet></router-outlet>
</mat-drawer-container>
