<div class="widget-player-dialog">
  <div *ngIf="widget.type === 'field'">
    <ng-container *ngTemplateOutlet="fieldTemplate"></ng-container>
  </div>

  <div *ngIf="widget.type === 'group'">
    <ng-container *ngTemplateOutlet="groupTemplate"></ng-container>
  </div>

  <div class="widget-player__actions">
    <button (click)="makeDeal()" mat-stroked-button color="primary">
      Done
    </button>
  </div>
</div>

<ng-template #groupTemplate>
  <app-widget-player
    [widgets]="widget.context.widgets"
    [cols]="copyRectangle.width"
    [rows]="copyRectangle.height"
    [resizable]="true"
    [movable]="true"
    [gridWidth]="widget.container.width"
    [gridHeight]="widget.container.height"
    [controlPanel]="true"
  ></app-widget-player>
</ng-template>

<ng-template #fieldTemplate>
  <app-get-document-field
    (fieldSelected)="fieldSelected($event)">
  </app-get-document-field>

  <app-widget-player
    [widgets]="[widget]"
    [cols]="copyRectangle.width"
    [rows]="copyRectangle.height"
    [resizable]="false"
    [movable]="false"
    [gridWidth]="widget.container.width"
    [gridHeight]="widget.container.height"
    [controlPanel]="false"
  ></app-widget-player>
</ng-template>