<div class="widget-player-dialog">
  <div *ngIf="widget.type === 'field'">
    <ng-container *ngTemplateOutlet="fieldTemplate"></ng-container>
  </div>

  <div class="widget-player__actions">
    <button (click)="makeDeal()" mat-stroked-button color="primary">
      Done
    </button>
  </div>
</div>

<ng-template #fieldTemplate>
  <app-get-document-field
    (fieldSelected)="fieldSelected($event)">
  </app-get-document-field>

  <app-widget-player
    [widgets]="[widget]"
    [cols]="widget.rectangle.width"
    [rows]="widget.rectangle.height"
    [gridWidth]="widget.container.width"
    [gridHeight]="widget.container.height"
    [controlPanel]="false"
  ></app-widget-player>
</ng-template>