<div class="widget-plaery-container" style="width: 100%; height: 100%">

  <!-- Empty widget -->
  <div *ngIf="!widget.type">
    Widget container
  </div>

  <!-- Widget of field type -->
  <div *ngIf="widget.type === 'field'">
    <ng-container
      *ngTemplateOutlet="fieldTemplate">
    </ng-container>
  </div>

  <!-- Widget of group type -->
  <div *ngIf="widget.type === 'group'">
    <ng-container *ngTemplateOutlet="groupTemplate"></ng-container>
  </div>
</div>

<ng-template #groupTemplate>
  <app-widget-player
    [widgets]="widget.context.widgets"
    [cols]="widget.rectangle.width"
    [rows]="widget.rectangle.height"
    [resizable]="true"
    [movable]="true"
    [gridWidth]="widget.container.width"
    [gridHeight]="widget.container.height"
    [controlPanel]="false"
  ></app-widget-player>
</ng-template>

<ng-template #fieldTemplate>
  <div
    [innerHtml]="prepareFieldValue()"
    class="widget-player-container__field">
    Widget player container field type
  </div>
</ng-template>