<div class="page">
  <div class="row middle-xs">
    <div class="col-xs-12 col-md-4">
      <mat-form-field class="page__form-field">
        <input
          type="text"
          matInput
          placeholder="Page name"
          [(ngModel)]="pageName">
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-md-2">
      <mat-form-field class="page__form-field">
        <input
          min="2"
          type="number"
          matInput
          placeholder="Cols"
          [(ngModel)]="cols"
          [disabled]="!editable">
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-md-2">
      <mat-form-field class="page__form-field">
        <input
          min="2"
          type="number"
          matInput
          placeholder="Rows"
          [(ngModel)]="rows"
          [disabled]="!editable">
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-md-2">
      <div>
        <mat-checkbox [(ngModel)]="editable">Edit mode</mat-checkbox>
      </div>

      <div>
        <mat-checkbox [(ngModel)]="showGrid">Show grid</mat-checkbox>
      </div>      
    </div>

    <div class="col-xs-12 col-md-2">
      <button
        mat-stroked-button
        [disabled]="!editable"
        (click)="addWidget()">Add Widget
      </button>
    </div>
  </div>


    <mat-card [style.height]="'100%'">
      <div class="dashboard-container">  
        <div class="dashboard-page">
          <ngx-widget-grid
            #grid
            [rows]="rows"
            [columns]="cols"
            [showGrid]="showGrid"
            (gridFull)="onGridFull($event)"
            (widgetPositionChange)="onWidgetChange($event)"
            [highlightNextPosition]="highlightNextPosition"
          >
            <ngx-widget
              *ngFor="let widget of widgets;let $index = index;"
              [position]="widget.config"
              [movable]="editable"
              [resizable]="editable"
              [swapOnMove]="swapWidgets">
              
              <div style="height:100%;width:100%; display:flex;">
                <div
                  class="my-widgets"
                  style="height:100%;width:100%; padding:10px;"
                  [ngStyle]="{'background-color':widget.config.color}">
    
                  <button mat-icon-button
                    class="page__button-trash"
                    *ngIf="editable"
                    (click)="askDeleteWidget($index)">
                    <mat-icon aria-label="Clear">clear</mat-icon>
                  </button>

                  <button mat-icon-button
                    class="page__button-settings"
                    *ngIf="editable"
                    (click)="openWidgetSettings(widget)">
                    <mat-icon aria-label="Clear">settings</mat-icon>
                  </button>
  
                  <div data-id={{widget.id}} #widgetsList></div>
                </div>
              </div>
            </ngx-widget>
          </ngx-widget-grid>
        </div>
      </div>
    </mat-card>

</div>