<div class="widget-editor" [style.minHeight]="minHeight + 'px'">
  <div class="row middle-xs">
    <div class="col-xs-2">
      <mat-form-field class="widget-editor__form-field">
        <input
          min="2"
          type="number"
          matInput
          placeholder="Cols"
          [(ngModel)]="cols"
          [disabled]="!editable">
      </mat-form-field>
    </div>

    <div class="col-xs-2">
      <mat-form-field class="widget-editor__form-field">
        <input
          min="2"
          type="number"
          matInput
          placeholder="Rows"
          [(ngModel)]="rows"
          [disabled]="!editable">
      </mat-form-field>
    </div>

    <div class="col-xs-3">
      <mat-form-field class="widget-editor__form-field">
        <input
          min="500"
          type="number"
          matInput
          placeholder="Minimal height (px)"
          [(ngModel)]="minHeight"
          [disabled]="!editable">
      </mat-form-field>
    </div>

    <div class="col-xs-3">
      <div>
        <mat-checkbox [(ngModel)]="editable">Edit mode</mat-checkbox>
      </div>

      <div>
        <mat-checkbox [(ngModel)]="showGrid">Show grid</mat-checkbox>
      </div>      
    </div>

    <div class="col-xs-2">
      <button
        color="primary"
        (click)="completeWidget()"
        mat-stroked-button>Complete
      </button>
    </div>
  </div>

  <ngx-widget-grid
    #widgetEditorGrid
    class="mat-elevation-z2 widget-editor__grid"
    [rows]="rows"
    [columns]="cols"
    [showGrid]="showGrid">

    <ngx-widget
      *ngFor="let widget of widgets;let $index = index;"
      [position]="widget.config"
      [movable]="editable"
      [resizable]="editable"
      [swapOnMove]="swapWidgets">
      
      <div style="height:100%;width:100%; display:flex;">
        <div
          class="my-widgets"
          style="height:100%;width:100%; padding:10px;">

          <span
            class="widget-editor__button-trash"
            *ngIf="editable"
            (click)="askDeleteWidget($index)">x
          </span>

          <div data-id={{widget.id}} #widgetsEditorList></div>
        </div>
      </div>
    </ngx-widget>
  </ngx-widget-grid>
</div>