<div class="page">
  <router-outlet>
    <div class="page__grid" *ngIf="page">
        <app-grid
          [cols]="page.size.cols"
          [rows]="page.size.rows"
          [data]="page.data"
          [widgets]="widgets"
          [movable]="false"
          [editable]="false"
          [showGrid]="false"
          [showPanel]="false"
          [resizable]="false"
          [gridWidth]="page.size.width"
          [gridHeight]="page.size.height">
        </app-grid>
      </div>
  </router-outlet>
</div>