<div
  class="widget-container"
  style="width: 100%; height: 100%"
  [ngStyle]="{backgroundColor: editable ? 'rgba(0,0,0,.02)' : ''}">

  <!-- Field container -->
  <div *ngIf="content?.field" style="width: 100%; height: 100%">
    <ng-container *ngTemplateOutlet="fieldTemplate"></ng-container>
  </div>

  <!-- Image container -->
  <div *ngIf="content?.image" style="width: 100%; height: 100%">
    <ng-container *ngTemplateOutlet="imageTemplate"></ng-container>
  </div>

  <!-- Link container -->
  <div *ngIf="!content?.field && content?.link" style="width: 100%; height: 100%">
    <ng-container *ngTemplateOutlet="linkTemplate"></ng-container>
  </div>

  <!-- Group container -->
  <div *ngIf="content?.group && !collection" style="width: 100%; height: 100%">
    <ng-container *ngTemplateOutlet="groupTemplate"></ng-container>
  </div>

  <!-- Collection container -->
  <div *ngIf="content?.group && collection" style="width: 100%; height: 100%">
    <ng-container *ngTemplateOutlet="collectionGroupTemplate"></ng-container>
  </div>
</div>


<!-- ----------------------------------------------------------------------- -->
<!-- ============================= TEMPLATES =============================== -->
<!-- ----------------------------------------------------------------------- -->

<ng-template #universal>
  <div
    class="widget-container__universal"
    (click)="content.link ? routeToLink() : ''"
    [ngStyle]="{backgroundImage: getBackgroundImage()}">
  </div>
</ng-template>

<!-- Image template -->
<ng-template #imageTemplate>
  <div
    class="widget-container__image"
    (click)="content.link ? routeToLink() : ''"
    [ngClass]="{'widget-container__link': content.link }"
    [ngStyle]="{backgroundImage: getBackgroundImageStyle()}">
    <h2 *ngIf="getImageTitle()">
      {{getImageTitle()}}
    </h2>
  </div>
</ng-template>

<!-- Field template -->
<ng-template #fieldTemplate>
  <div
    [ngClass]="{'widget-container__field': true, 'widget-container__link': content.link}"
    (click)="content.link ? routeToLink() : ''"
    [innerHtml]="prepareFieldValue()">
  </div>
</ng-template>

<!-- Link template -->
<ng-template #linkTemplate>
  <a
    class="widget-container__link"
    [routerLink]="getContentLink()">
    {{ content.link.label }}
  </a>
</ng-template>

<!-- Group template -->
<ng-template #groupTemplate>
  <app-grid
    [cols]="content.grid.cols"
    [rows]="content.grid.rows"
    [data]="data"
    [widgets]="content.group"
    [movable]="false"
    [editable]="false"
    [showGrid]="false"
    [showPanel]="false"
    [resizable]="false"
    [gridWidth]="'100%'"
    [gridHeight]="'100%'">
  </app-grid>
</ng-template>

<!-- Collection group template -->
<ng-template #collectionGroupTemplate>
  <div class="pagination">
    <a
      class="pagipage"
      [class.active]="link.active"
      [routerLink]="link.link" routerLinkActive="active" 
      *ngFor="let link of paginationLinks">{{link.label}}
    </a>
  </div>

  <app-grid
    [cols]="content.grid.cols"
    [rows]="content.grid.rows"
    [data]="data"
    [widgets]="content.group"
    [movable]="false"
    [editable]="false"
    [showGrid]="false"
    [showPanel]="false"
    [resizable]="false"
    [gridWidth]="'100%'"
    [gridHeight]="'100%'"
    [currentPageDocuments]="currentPageDocuments">
  </app-grid>
</ng-template>