<div class="grid">
  <div class="grid__panel" *ngIf="showPanel">
    <ng-container *ngTemplateOutlet="gridPanel"></ng-container>
  </div>

  <div
    class="grid__wrapper"
    [style.width]="(gridWidth) ? (gridWidth + 'px') : '100%'"
    [style.height]="(gridHeight) ? (gridHeight + 'px') : '100%'">
    <ngx-widget-grid
      #grid
      [rows]="rows"
      [columns]="cols"
      [showGrid]="showGrid"
      (gridFull)="onGridFull($event)"
      (widgetPositionChange)="onWidgetPositionChange($event)"
      [highlightNextPosition]="highlightNextPosition">
  
      <ngx-widget
        #widgetsRefs
        [ngStyle]="{border: editable ? '1px solid #0000000a' : 'none'}"
        [id]="widget.id"
        *ngFor="let widget of widgets;let $index = index;"
        [position]="widget.position"
        [movable]="editable"
        [resizable]="editable"
        [swapOnMove]="swapWidgets">

        <ng-container
          [ngTemplateOutlet]="widgetPanel"
          [ngTemplateOutletContext]="{ widget: widget, $index: $index }">
        </ng-container>

        <app-widget-container
          [data]="data"
          [content]="widget.content"
          [editable]="editable">
        </app-widget-container>
      </ngx-widget>
    </ngx-widget-grid>
  </div>
</div>

<!-- ################## Tempates ###################### -->
<!-- Grid panel -->
<ng-template #gridPanel>
  <div class="widget-player__control-panel">
    <div class="row middle-xs">
      <div class="col-md-2 col-xs-6">
        <mat-form-field class="widget-player__form-field">
          <input
            min="2"
            type="number"
            matInput
            placeholder="Cols"
            [(ngModel)]="cols"
            [disabled]="!editable">
        </mat-form-field>
      </div>
  
      <div class="col-md-2 col-xs-6">
        <mat-form-field class="widget-player__form-field">
          <input
            min="2"
            type="number"
            matInput
            placeholder="Rows"
            [(ngModel)]="rows"
            [disabled]="!editable">
        </mat-form-field>
      </div>
  
      <div class="col-md-2 col-xs-6">
        <mat-form-field class="widget-player__form-field">
          <input
            min="500"
            type="number"
            matInput
            placeholder="Grid height (px)"
            [(ngModel)]="gridHeight"
            [disabled]="!editable">
        </mat-form-field>
      </div>
  
      <div class="col-md-2 col-xs-3">
        <div>
          <mat-checkbox [(ngModel)]="editable">Edit mode</mat-checkbox>
        </div>
  
        <div>
          <mat-checkbox [(ngModel)]="showGrid">Show grid</mat-checkbox>
        </div>      
      </div>

      <div class="col-md-2 col-xs-3">
        <div>
          <mat-checkbox [(ngModel)]="swapWidgets">Swap widgets</mat-checkbox>
        </div>
      </div>
  
      <div class="col-md-2 col-xs-12">
        <button
          mat-stroked-button
          color="primary"
          (click)="onClickAddWidget()"
          (mouseover)="toggleHighlight(true)"
          (mouseleave)="toggleHighlight(false)">Add widget
        </button>
      </div>
    </div>
    <!-- <div class="row middle-xs">
        <div class="col-md-12 col-xs-12">
          <app-document-search></app-document-search>
        </div>
    </div> -->
  </div>
</ng-template>

<!-- Widget panel -->
<ng-template #widgetPanel let-widget="widget" let-$index="$index">
  <div class="widget-panel" *ngIf="editable">
    <div class="widget-panel__content" *ngIf="widget.content.collection">
      Collection: {{ widget.content.collection.name }};&nbsp;
    </div>

    <div class="widget-panel__content" *ngIf="widget.content.field">
      Field: {{ widget.content.field.name }};&nbsp;
    </div>

    <!-- Hamburger menu widget button -->
    <i
      [matMenuTriggerFor]="widgetMenu"
      class="fas fa-hamburger grid__button grid__button-hamburger">
    </i>
    <!-- Delete widget button -->
    <i
      (click)="onClickDeleteWidget($index)"
      class="fas fa-trash-alt grid__button grid__button-trash">
    </i>

    <mat-menu #widgetMenu="matMenu">
      <button mat-menu-item (click)="openFieldDialog(widget)">
        <mat-icon>text_fields</mat-icon>
        <span>Document field</span>
      </button>

      <button mat-menu-item (click)="openCollectionSheet(widget)">
        <mat-icon>view_list</mat-icon>
        <span>Collection</span>
      </button>

      <button mat-menu-item (click)="openGroupDialog(widget)">
          <mat-icon>view_quilt</mat-icon>
          <span>Widgets group</span>
      </button>
    </mat-menu>
  </div>
</ng-template>