.grid {
  height: 100%;

  &__panel {
    padding: 13px 0px;
  }

  &__wrapper {
    height: inherit;
    position: relative;
  }

  &__button {
    cursor: pointer;
    top: 9px;
    z-index: 21;
    position: absolute;

    &:hover { color: #ff4986 }

    &-trash { right: 13px }
    &-hamburger { right: 40px }
  }
}

/deep/ {
  ngx-widget {
    .wg-widget-edit-resize {
      opacity: 0;
    }
    &:hover {
      .wg-widget-edit-resize {
        opacity: 1;
      }
    }
  }
}