<div class="widget-container">
  <div *ngIf="options?.type === 'field'">
    <ng-container
      *ngTemplateOutlet="fieldTemplate; context: { $implicit: options }">
    </ng-container>
  </div>

  <div *ngIf="options?.type === 'widget'">
      <ng-container
        *ngTemplateOutlet="widgetTemplate; context: { $implicit: options }">
      </ng-container>
    </div>
</div>

<!-- Template to document field data -->
<ng-template let-options #fieldTemplate>
  <ng-container *ngFor="let field of options.document.fields">
    <div
      *ngIf="options.fieldName === field.name"
      [innerHtml]="prepareHtmlValue(field.value)">
    </div>
  </ng-container>
</ng-template>

<!-- Template to widget data -->
<ng-template let-options #widgetTemplate>
  <app-widget-viewer [options]="options"></app-widget-viewer>
</ng-template>