<div class="row center document-list">
	<!-- Uncomen when crate single page for creating document -->
	<!-- <button mat-fab
		class="document-list__add-button"
		routerLink="/admin/documents/add" 
	>
		<mat-icon aria-label="Add document">add</mat-icon>
	</button> -->

	<div class="col-xs-12">
		<mat-card>
			<mat-card-header>
        <div mat-card-avatar>
          <mat-icon>account_circle</mat-icon>
        </div>

        <mat-card-title>Documents</mat-card-title>
			</mat-card-header>

			<mat-card-content>
        <h3
          *ngIf="documents.length === 0"
          class="mat-subheading-2">There is no documents yet
        </h3>

				<app-datatable
					*ngIf="documents?.length > 0"
					[data]="documents"
					(rowClicked)="onClickRowDatatable($event)">
				</app-datatable>
			</mat-card-content>
		</mat-card>
	</div>
</div>