.page-list {
	position: relative;
	margin-top: 16px;

	&__add-button {
		top: 34px;
		right: 50px;
		z-index: 1;
		position: absolute;
	}

	&__configuration {
		padding: 1rem;
	}

	&__title {
		padding: 0 1rem;
	}
}
