<div *ngIf="dialog" class="dynamic-form__dialog">
  <h1 mat-dialog-title *ngIf="title">
    {{ title }}
    {{ options._id ? ('#' + options._id) : '' }}
  </h1>
  <div mat-dialog-content>
    <div class="model-field" *ngFor="let field of specificFields">
      <ng-container
        *ngTemplateOutlet="typedFormField; context: { $implicit: field }">
      </ng-container>
    </div>

    <div class="model-field" *ngFor="let field of fields">
      <ng-container
        *ngTemplateOutlet="typedFormField; context: { $implicit: field }">
      </ng-container>
    </div>
  </div>

  <div mat-dialog-actions class="dynamic-form__actions">
    <button
      mat-button
      cdkFocusInitial
      [mat-dialog-close]="dialogClickYesHandler()">Ok
    </button>

    <app-remove-button
      *ngIf="options && options.model && options.model._id"
      [items]="[{ label: options.name, id: options._id, apiModel: 'documents' }]"
      (removed)="onRemovedDocument($event)">
    </app-remove-button>
    
    <button mat-button (click)="dialogClickNoHandler()">No Thanks</button>
  </div>
</div>

<div *ngIf="!dialog" class="dynamic-form">
  <div class="model-field" *ngFor="let field of specificFields">
    <ng-container
      *ngTemplateOutlet="typedFormField; context: { $implicit: field }">
    </ng-container>
  </div>

  <div class="model-field" *ngFor="let field of fields">
    <ng-container
      *ngTemplateOutlet="typedFormField; context: { $implicit: field }">
    </ng-container>
  </div>
</div>

<!-- TEMPLATES -->

<!-- Template o typed form field -->
<ng-template let-field #typedFormField>
    <!-- Field for TEXT type information -->
    <div
      *ngIf="field.type === 'text'"
      class="dynamic-form__field"
    >
      <!-- <textarea
        matInput
        [(ngModel)]="field.value"
        [placeholder]="field.name">
      </textarea> -->

      <app-ngx-editor
        [placeholder]="field.name"
        [spellcheck]="true"
        [(ngModel)]="field.value"
      ></app-ngx-editor>
    </div>

    <!-- Field for STRING type infromation -->
    <mat-form-field        
      *ngIf="field.type === 'string'"
      class="dynamic-form__field"
    >
      <input
        matInput
        [disabled]="disableField(field)"
        [(ngModel)]="field.value"
        [placeholder]="field.name"
      >
    </mat-form-field>

    <!-- Field for NUMBER type information -->
    <mat-form-field
      *ngIf="field.type === 'number'"
      class="dynamic-form__field"
    >
      <input
        matInput
        [(ngModel)]="field.value"
        [placeholder]="field.name"
      >
    </mat-form-field>

    <!-- Field for SELECT type information -->
    <mat-form-field
      *ngIf="field.type === 'select'">
      <mat-label>{{field.name}}</mat-label>
      
      <mat-select [(ngModel)]="field.value">
        <mat-option
          *ngFor="let item of field.data"
          [value]="item._id">{{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>