.get-document-field {
  &__form-field {
    width: 100%;
  }

  &__selected-document {
    margin-top: 24px;

    &-buttons {
      button:first-child {
        margin-right: 13px;
      }
    }
  }

  &__widget-editor {
    margin-top: 24px;
  }

  .document-fields {
    &__radio-group {
      display: inline-flex;
      flex-direction: column;
    }
    
    &__radio-button {
      margin: 5px;
    }
    
    &__selected-value {
      margin: 15px 0;
    }
  }
}