.widget-player {
  height: 100%;

  &__form-field {
    width: 100%;
  }

  &__control-panel {
    margin: 31px 0;
  }

  &__grid {
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    margin: auto;
    margin-bottom: 24px;
  }

  &__widget {
    width:100%;
    height:100%;

    &-button {
      cursor: pointer;
      top: 9px;
      z-index: 21;
      position: absolute;

      &:hover { color: #ff4986 }

      &-trash { right: 13px }
      &-hamburger { right: 40px }
    }
  }
}

/deep/ {
  ngx-widget {
    .wg-widget-edit-resize {
      opacity: 0;
    }
    &:hover {
      .wg-widget-edit-resize {
        opacity: 1;
      }
    }
  }
}