<div class="widget-player" [style.minHeight]="minHeight + 'px'">
  
  <!-- Control panel -->
  <div *ngIf="controlPanel">
    <ng-container
      *ngTemplateOutlet="controlPanelTemplate">
    </ng-container>
  </div>
  
  <!-- Widget grid -->
  <ng-container
    *ngTemplateOutlet="gridTemplate">
  </ng-container>
</div>

<ng-template #gridTemplate>
  <!-- [style.minHeight]="minHeight + 'px'" -->
  <mat-card
    class="widget-player__grid"
    [style.width]="(gridWidth) ? gridWidth + 'px' : ''"
    [style.height]="(gridHeight)? gridHeight + 'px' : ''"
  >
    <ngx-widget-grid
      #grid
      [rows]="rows"
      [columns]="cols"
      [showGrid]="showGrid"
      (gridFull)="onGridFull($event)"
      (widgetPositionChange)="onWidgetChange($event)"
      [highlightNextPosition]="highlightNextPosition">
      <!-- Widget -->
      <ngx-widget #widgetsList
        *ngFor="let widget of widgets;let $index = index;"
        [position]="widget.rectangle"
        [movable]="movable"
        [resizable]="resizable"
        [swapOnMove]="swapWidgets">

          <!-- Delete widget button -->
          <i
            *ngIf="editable"
            (click)="deleteWidget($index)"
            class="fas fa-trash-alt widget-player__widget-button widget-player__widget-button-trash">
          </i>

          <i
            [matMenuTriggerFor]="widgetMenu"
            *ngIf="editable"
            class="fas fa-hamburger widget-player__widget-button widget-player__widget-button-hamburger">
          </i>

          <mat-menu #widgetMenu="matMenu">
            <button
              mat-menu-item
              (click)="openWidgetDialog(widget, 'field', $index)">
              
              <mat-icon>text_fields</mat-icon>
              <span>Document field</span>
            </button>
            <button mat-menu-item>
              <mat-icon>view_list</mat-icon>
              <span>Collection</span>
            </button>
            <button
              mat-menu-item
              (click)="openWidgetDialog(widget, 'group', $index)">
                <mat-icon>view_quilt</mat-icon>
                <span>Widgets group</span>
            </button>
          </mat-menu>

        <div
          class="widget-player__widget"
          [ngStyle]="{backgroundColor: editable ? 'rgba(0,0,0,.02)' : ''}">
          grid: cols: {{ cols }}; rows: {{ rows }}
          <br />
          #id: {{ widget.id }}; width: {{ widget.rectangle.width }}
          height: {{ widget.rectangle.height }} top: {{ widget.rectangle.top }}
          left: {{ widget.rectangle.left }}
          <app-widget-player-container
            [widget]="widget">
          </app-widget-player-container>
        </div>
      </ngx-widget>
    </ngx-widget-grid>
  </mat-card>
</ng-template>

<ng-template #controlPanelTemplate>
  <div class="widget-player__control-panel">
    <div class="row middle-xs">
      <div class="col-md-2 col-xs-6">
        <mat-form-field class="widget-player__form-field">
          <input
            min="2"
            type="number"
            matInput
            placeholder="Cols"
            [(ngModel)]="cols"
            [disabled]="!editable">
        </mat-form-field>
      </div>
  
      <div class="col-md-2 col-xs-6">
        <mat-form-field class="widget-player__form-field">
          <input
            min="2"
            type="number"
            matInput
            placeholder="Rows"
            [(ngModel)]="rows"
            [disabled]="!editable">
        </mat-form-field>
      </div>
  
      <div class="col-md-2 col-xs-6">
        <mat-form-field class="widget-player__form-field">
          <input
            min="500"
            type="number"
            matInput
            placeholder="Minimal height (px)"
            [(ngModel)]="minHeight"
            [disabled]="!editable">
        </mat-form-field>
      </div>
  
      <div class="col-md-2 col-xs-3">
        <div>
          <mat-checkbox [(ngModel)]="editable">Edit mode</mat-checkbox>
        </div>
  
        <div>
          <mat-checkbox [(ngModel)]="showGrid">Show grid</mat-checkbox>
        </div>      
      </div>

      <div class="col-md-2 col-xs-3">
        <div>
          <mat-checkbox [(ngModel)]="swapWidgets">Swap widgets</mat-checkbox>
        </div>
      </div>
  
      <div class="col-md-2 col-xs-12">
        <button
          mat-stroked-button
  
          (click)="addWidget()"
          [disabled]="!editable"
          (mouseover)="toggleHighlight(true)"
          (mouseleave)="toggleHighlight(false)">Add Widget
        </button>
      </div>
    </div>
    <!-- <div class="row middle-xs">
        <div class="col-md-12 col-xs-12">
          <app-document-search></app-document-search>
        </div>
    </div> -->
  </div>
</ng-template>