<div class="collection-list">
  <button class="collection-list__add-button" mat-fab routerLink="/admin/collections/add">
    <mat-icon aria-label="Add model">add</mat-icon>
  </button>
  <h2 class="mat-title">Collections</h2>
  <div class="col-xs-12">
    <app-datatable
      [data]="collections"
      (rowClicked)="onClickRowDatatable($event)">
    </app-datatable>

    <h3
      *ngIf="collections.length === 0"
      class="mat-subheading-2">There is no collections yet
    </h3>
  </div>
</div>