<div class="widgets-dialog">
  <app-widgets
    [cols]="widget.width"
    [rows]="widget.height"
    [gridWidth]="widget.size.width + 'px'"
    [gridHeight]="widget.size.height + 'px'"
    [widgets]="widget?.widgets"
    [movable]="true"
    [showGrid]="true"
    [editable]="true"
    [showPanel]="true"
    [resizable]="true"
    [showPanel]="true"
  ></app-widgets>

  <div class="widget-editor-dialog__actions">
    <button (click)="onClickDone()" mat-stroked-button>Done</button>
  </div>
</div>