<div class="widgets-panel">
  <button mat-button (click)="addWidgetHandler()">
    Add widget
  </button>

  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Text widgets
      </mat-panel-title>

      <mat-panel-description>
        Widgets to working with typography elements
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <app-headline-widget></app-headline-widget>
    
  </mat-expansion-panel>

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Text widgets
        </mat-panel-title>
  
        <mat-panel-description>
          Widgets to working with typography elements
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <app-headline-widget></app-headline-widget>
      
    </mat-expansion-panel> -->
</div>
